{% extends 'quotes/base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% if request.path != '/login/' %}
    <p>Please login to get access to this page</p>
{% endif %}

<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <div>
        <label> Username:<br>
            {{ form.username }}
        </label>
    </div>

    <div>
        <label>Password:<br>
            {{ form.password }}
        </label>
    </div>

    <div style="flex: auto; margin-top: 10px">
        <button class="tag" type="submit">Submit</button>
        <button class="tag" type="reset" class="secondary">Reset</button>
    </div>
</form>
{% endblock %}