{% extends 'quotes/base.html' %}
{% load static %}
{% block title %}Signup{% endblock %}
{% block content %}
<div>
    <h2>Sign Up</h2>
</div>

<form action="{% url 'users:signup' %}" method="post">
    {% csrf_token %}
    <div class="form-group mb-3">
        <label> Username:</label><br>
        {{ form.username }}
        <span>{{ form.errors.username }}</span>
    </div>
    <div class="form-group mb-3">
        <label> Email:<br>
            {{ form.email }}
        </label>
        <span>{{ form.errors.email }}</span>
    </div>

    <br>
    <div class="form-group mb-3">
        <label> Password:<br>
            {{ form.password1 }}
        </label>
        <span>{{ form.errors.password1 }}</span>
    </div>
    <div class="form-group mb-3">
        <label> Password confirmation:<br>
            {{ form.password2 }}
        </label>
        <span>{{ form.errors.password2 }}</span>
    </div>
    <div class="grid">
        <button class="tag" type="submit">Submit</button>
        <button class="tag" type="reset">Reset</button>
    </div>
</form>
{% endblock %}