{% extends 'quotes/base.html' %}
{% load extract %}

{% block title %}
quotes by tag
{% endblock %}

{% block content %}
<h3 style="text-align: left; margin-left: 30px;"><b>Viewing tag: <p style="display: inline; color: #4582ec" >{{ tag.name }}</p></b></h3>
<ul>
     {% for quote in quotes.all %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{ quote.text }}
            </span>
            <span>by <small class="author" itemprop="author">{{quote.author.fullname}}</small>

        <a href="/details/{{quote.author.id}}" previewlistener="true">(about)</a>
        </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <span class="tag">
                    <a href="/tag/{{tag.name}}" previewlistener="true">{{ tag.name }}</a>
                </span>
                {% endfor %}

            </div>
        </div>

        {% endfor %}

</ul>

{% endblock %}
